.App {
  text-align: center;
}

.input-box {
  width: 250px;
  padding: 10px;
  margin-right: 10px;
}

.add-button {
  margin-left: 10px;
  width: 70px;
  padding: 10px;
  background-color: white;
  border: solid 1px;
  border-radius: 10px;
}

.todo-list-container {
  margin: 10px 0px;
  display: grid;
  text-align: left;
  justify-content: center;
  grid-template-columns: 360px;
  /* border: solid; */
}

.to-do-item {
  /* border: solid; */
  background-color: yellow;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  margin: 10px 0px;
}

.done {
  background-color: red;
}

.left-item {
  font-size: large;
  flex: 90%;
  /* border: solid; */
  display: flex;
  align-items: center;
}

.checkbox {
  height: 23px;   
  width: 23px;
  /* padding: 10px; */
  margin-right: 20px;
}

.right-item {
  /* border: solid; */
  display: flex;
  flex: 5%;
  justify-content: flex-end;
  align-items: center;
}

.to-do-text {
  font-weight: bold;
  color: #262626;
}

.striked {
  text-decoration: line-through;
  color: #262626;
}

.delete-button {
  background-color: white;
  border: solid 1px;
  border-radius: 5px;
  padding: 5px 10px;
}

